body {
    background: white url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFoAAAEyBAMAAACIVtqyAAAALVBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD///8AAAAAAAAAAAAMxR3lAAAAD3RSTlMABw0BAwUCBgsEDAAKCQiHWYRhAAABCElEQVR4Xu3YP27CMBjGYR8h3ID2BJF6AQ+oc5bulioxe+AAjB09ICS2jlWnHIGNlSOwcgvMn+2T4HMIECe/d3qHR5aXV5Zs3kYJMWNzSaEofdZoNNtpqNHo95SwBjSadweNZjvP1mg020Gj2Q4azV8BGs27k7dGo9kOGs120Gi246X+VSCV9q1pryiD1ej/mL8fTSJ86E3mA9WVKE/WlaIMRK+T9OYrIYlnSx1EyVUHqUP7etthbUXJVVuprUbvV6csJtdzVmaXcnaHdPEa7TTa9VB7hXZSu7z0bBLzOb2do2vvJqXUlUQKjS6lLjU63KnRyziL7w9NIkw827ala42uG2k0um6mD1I/iTxORroSAAAAAElFTkSuQmCC') repeat-x scroll top left;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Ubuntu', sans-serif;
}

#overview img {
    position: absolute;
}

div.top-header-texts {
    margin: 10px 10px;
    padding: 20px 120px;
}

h1 {
    font-size: 370%;
    font-weight: bold;
    color: #333;
}

div.container h2 {
    padding-top: 40px;
    margin-right: 160px;
    font-size: 177%;
    font-weight: bold;
    color: #333;
}

span.item_data {
    color: #aaa;
    font-size: 70%;
}

span.item_github_date {
    color: #aaa;
}

.github_item {
    padding-bottom: 10px;
}

.github_item_second_line {
    font-size: 80%;
}

a:visited {
    color: #a36d9b;
}
